@model IEnumerable<fondabTestShop.Models.Article>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>



@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>
</table>*@


    @{int i = 0;}
    @foreach (var item in Model)
    {
        if (i != 0 && i % 3 == 0) { 
            @:</div>
            }
        if (i % 3 == 0)
        {
            @:<div class="row">
        }
        <div class="articlecolumn">
            <div class="articlecard">
                <img src="@string.Format("http://lorempixel.com/500/33{0}/technics/", i)" alt="@item.Name" style="width:100%">
                <div class="articlecontainer">
                    <h2>@item.Name</h2>
                    <p class="articletitle">Artikelnummer: @item.ArticleNumber</p>
                    <p>@item.Description</p>
                    <p class="pright">@item.price kr</p>
                    <p><button type="button" id="@item.Id" name="@item.Name" class="articlebutton deleteArticle">Ta bort</button></p>
                </div>
            </div>
        </div>

    i++;
}
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ta bort artikel</h4>
            </div>
            <div class="modal-body">
                Är du säker på att du vill ta bort "<span id="spanUser"></span>"?
            </div>
            <div class="modal-footer">
                <div id="testOutput"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <a href="" id="deleteLink" class="btn btn-danger">Ta bort</a>
            </div>
        </div>
    </div>
</div>






<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(document).on('click', '.deleteArticle', function () {
        var value = $(this).attr('name');
        var id = $(this).attr('id');
        document.getElementById("spanUser").innerHTML = value;
        document.getElementById("deleteLink").href = "/Articles/Delete?id=" + id;
        $('#myModal').modal();

    });

</script>
